/*font*/
.fontRB {
  font-family: "Roboto";
  font-weight: 700;
}
/*colors*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
}
.center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-right: 10px;
  padding-left: 10px;
}
a {
  color: #5090ce;
  text-decoration: none;
}
a:hover {
  color: #77a34e;
  text-decoration: none;
}
.espaco-container {
  margin: 4% auto;
}
.btn {
  border-radius: 18px;
  padding: 8px 20px;
  line-height: 1em;
}
.title-destaque,
.title-medium {
  color: #FFF;
  margin-bottom: 4%;
}
.title-primary {
  font-family: 'Roboto';
  font-weight: 600;
  color: #c84068;
  text-transform: uppercase;
  font-size: 2.813em;
}
.area-item .title-small {
  color: #5090ce;
}
.title-small {
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 1em;
  margin-bottom: 8.6111%;
}
.sub-title {
  font-size: 1.75em;
}
.destaque-container .desc {
  color: #FFF;
}
.desc {
  font-size: 1em;
  line-height: 1em;
}
.desc-info {
  color: #6d6e71;
  font-size: 1.25em;
}
.text-underline {
  position: relative;
  margin-bottom: 4%;
}
.text-underline:before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  display: block;
  height: 3px;
  width: 100px;
  background-color: #8358b4;
}
.o-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.o-img.is-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.transition-ease,
.transition-ease:hover,
.transition-ease:focus,
.transition-ease:before,
.transition-ease:after,
.transition-ease *,
.transition-ease *:hover,
.transition-ease *:focus,
.transition-ease *:before,
.transition-ease *:after {
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}
/* lenta */
.transition-ease-slow,
.transition-ease-slow:hover,
.transition-ease-slow:focus,
.transition-ease-slow:before,
.transition-ease-slow:after,
.transition-ease-slow *,
.transition-ease-slow *:hover,
.transition-ease-slow *:focus,
.transition-ease-slow *:before,
.transition-ease-slow *:after {
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}
.delay-1 {
  -webkit-animation-delay: 0.5s;
}
.delay-2 {
  -webkit-animation-delay: 1s;
}
.delay-3 {
  -webkit-animation-delay: 1.5s;
}
.delay-4 {
  -webkit-animation-delay: 2s;
}
@media only screen and (max-width: 992px) {
  .title-small {
    font-size: 1.2em;
  }
  .desc {
    font-size: 1em;
  }
  .desc-info {
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .title-destaque,
  .title-medium,
  .title-primary {
    font-size: 1.75em;
  }
  .sub-title {
    font-size: 1.25em;
  }
  .espaco-container {
    margin: 8% auto;
  }
  .text-underline {
    margin-bottom: 8%;
  }
  .text-underline::before {
    top: 106%;
  }
}
