@import "var.less";

body {
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
} 
img {max-width: 100%;}
.center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-right: 10px;
    padding-left: 10px;
} 
.btn-custom {
    display: flex;
    align-items: center;
	background-color: @green;
	color: @white;
	border-radius: 0;
}
a {
	color: @blue;
	text-decoration: none;
	&:hover{
		color :@green;
		text-decoration: none;
	}
}
.sprite {
    background-image: url(../../imagens/index/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-cards {
    width: 50px;
    height: 51px;
    background-position: -45px -5px;
}

.sprite-people {
    width: 36px;
    height: 51px;
    background-position: -105px -5px;
}

.sprite-pin {
    width: 35px;
    height: 51px;
    background-position: -5px -66px;
}
.title-primary {
  font-family: 'Roboto';
  font-weight: 600;
  color: #12083f;
  text-transform: uppercase;
  font-size: 2.813em;
}
.title-small {
	font-weight: 700;
	color: @blue;
	font-family: 'Roboto';
	font-size:  1.250em;
	margin-bottom: 8.6111%;
}

.desc {
	font-size:  1.25em;
	line-height: 1.25em;
	color: @text;
	&-info {
		color: @textBox;
		font-size:  1.25em;
	}
}


.transition-ease,
.transition-ease:hover,
.transition-ease:focus,
.transition-ease:before,
.transition-ease:after,
.transition-ease *,
.transition-ease *:hover,
.transition-ease *:focus,
.transition-ease *:before,
.transition-ease *:after {
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
}

/* lenta */
.transition-ease-slow,
.transition-ease-slow:hover,
.transition-ease-slow:focus,
.transition-ease-slow:before,
.transition-ease-slow:after,
.transition-ease-slow *,
.transition-ease-slow *:hover,
.transition-ease-slow *:focus,
.transition-ease-slow *:before,
.transition-ease-slow *:after {
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
}

.delay-1 {
	-webkit-animation-delay: 0.5s;
}

.delay-2 {
	-webkit-animation-delay: 1s;
}

.delay-3 {
	-webkit-animation-delay: 1.5s;
}

.delay-4 {
	-webkit-animation-delay: 2s;
}
@media @smallDesk {
}
@media @tablet {
	[class^="sprite"]{ transform: scale(.75) }
	.title-small {font-size: 1.2em;}
	.desc {
		font-size: 1em;
		&-info {
			font-size:  1em;
		} 
	}
} 
@media @smartPhones {
	.title-primary {
		font-size: 1.813em;
	}
}