/*font*/
.fontRB {
  font-family: "Roboto";
  font-weight: 700;
}
/*colors*/
.slide-size {
  height: 83.777vh;
}
.destaque-container {
  background-image: linear-gradient(#5250e2, #41afe4);
  padding-top: 74px;
}
.img-destaque {
  position: relative;
  padding-bottom: 126.923%;
}
[class$="white"] {
  display: block;
  width: 100%;
  padding-bottom: 9%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.bottom-white {
  background-image: url(../../imagens/_temp/bottom-white.png);
}
.top-white {
  background-image: url(../../imagens/_temp/top-white.svg);
}
.area-inter {
  background-image: linear-gradient(#544ee6, #48b3e7);
}
.list-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.area-item {
  display: grid;
  grid-template-columns: 30% auto;
  grid-gap: 20px;
}
.item-foto-area {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #CCC;
  overflow: hidden;
}
.c-footer {
  background-image: linear-gradient(#4eaadb, #5250e2);
}
@media only screen and (max-width: 1200px) {
  .slide-size {
    height: 60vh;
  }
}
@media only screen and (max-width: 992px) {
  .slide-size {
    height: 50vh;
  }
}
@media only screen and (max-width: 768px) {
  .slide-size {
    height: 30vh;
    min-height: 216px;
  }
  .carousel-indicators li {
    width: 16px;
    height: 16px;
  }
  .content-info {
    margin-top: 0;
    padding-top: 6%;
  }
  .info-box {
    flex-direction: column;
    width: 80%;
    min-width: 150px;
    margin: 0 auto 6%;
  }
}
@media only screen and (max-width: 550px) {
  .slide-size {
    height: 20vh;
    min-height: 142px;
  }
}
