@import "var.less";
.slide-size {
	height:  83.777vh;
	//height: 41.6666vh;
	.carousel-item {
		height: 100%;
		img {
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}    
.destaque-container {
	background-image: linear-gradient(#5250e2,#41afe4);
	padding-top: 74px;
}
.img-destaque{
	position: relative;
	padding-bottom: 100%;
}
.bottom-white {
	display: block;
	width:100%;
	padding-bottom: 10%;
	background-image: url(../../imagens/_temp/bottom-white.png);
	background-repeat: no-repeat;
	background-size: cover;
}


@media @smallDesk {
	.slide-size {
		height: 60vh;
	}
}
@media @tablet {
	.slide-size {
		height: 50vh;
	}
}
@media @smartPhones {
	.slide-size { height: 30vh; min-height: 216px; }
	.carousel-indicators {
		li {
			width: 16px;
			height: 16px
		}
	}

	.content-info {
		margin-top: 0;
		padding-top: 6%;
	}

	.info-box {
		flex-direction: column;
		width: 80%;
		min-width: 150px;
		margin: 0 auto 6%;
	}
}

@media @smartPhonesSmall {
	.slide-size { height: 20vh; min-height: 142px; }
}